body {
  background-color: pink;
  color: deeppink;
  font-size: 25px;
}
h1 {
  color: deeppink;
}
h2 {
  color: hotpink;
}

.background {
  background-image: url(media/beach.jpg);
  background-position: center;
  background-size: cover;
  padding: 5px 5px;
  height: 50vh;
}

.span {
  color: red;
}
