body {
  background-color: pink;
  color: deeppink;
  font-size: 25px;

  font-family: "Kosugi Maru", sans-serif;
}
h1 {
  color: deeppink;
}
h2 {
  color: hotpink;
}

.background {
  background-position: center;
  background-size: cover;
  padding: 5px 5px;
  height: 50vh;
}
